body{
    background-color: black;
}
.reg-title{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}
.reg{
    display: flex;
    justify-content: center;
    align-items:center;
}
.err{
    display: flex;
    justify-content: center;
    align-items:center;
    color:red;
}

.msg{
    display: flex;
    justify-content: center;
    align-items:center;
    color:greenyellow;
}